body {
  font-family: Futura, sans-serif;
  background: #131313;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Ensures the page is scrollable */
}

.back-button-container {
  position: fixed; /* Fixing the position so it's always at the top */
  top: 8vh;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Ensure it's above other content */
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #c8c8c8;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #333;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Transition for transform and color */
}


.back-button:hover, .back-button:active {
  background: #ffffff; /* Change background color on hover/active */
  color: #131313; /* Change text/icon color so it's visible on white background */
  transform: scale(1.1); /* Make the button slightly larger on hover */
}

.list-container {
  width: 30%;
  padding-top: 16vh;
  text-align: center;
}

.playlist-item {
  display: block;
  margin: 10px 0;
  font-size: 24px;
  color: #c8c8c8;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.playlist-item span {
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.playlist-item:hover span, .playlist-item:focus span {
  color: #ffffff; /* Changes text color to white on hover or focus */
}
