body {
  font-family: Futura, sans-serif;
  background: #131313;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.back-button-container {
  margin-top: 80px; /* Adjusted top margin */
  position: fixed; /* Fixing the position so it's always at the top */
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Ensure it's above other content */
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #c8c8c8;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #333;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Transition for transform and color */
}

.back-button:hover, .back-button:active {
  background: #ffffff; /* Change background color on hover/active */
  color: #131313; /* Change text/icon color so it's visible on white background */
  transform: scale(1.1); /* Make the button slightly larger on hover */
}

.content-container {
  flex: 1; /* Flex-grow to take available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  text-align: center;
  width: 100%;
  padding: 20px; /* Add padding for breathing space */
  margin-top: 50px; /* Space below the back button */
  padding-top: 20px; /* Padding to not overlap with the fixed back button */
}

.sheets-link {
  font-size: 35px;
  color: #c8c8c8;
  text-decoration: none;
  margin-bottom: 20px; /* Space between links */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.sheets-link:hover, .sheets-link:focus {
  color: #ffffff; /* Changes text color to white on hover or focus */
}

@media (max-width: 768px) { /* Adjusts styles for screens smaller than 768px */
  .back-button-container {
    margin-top: 20px; /* Reduced space from the top on mobile */
  }
  
  .content-container {
    margin-top: 0; /* No additional margin on top */
    padding-top: 60px; /* Adjust this based on the size of the back button */
  }
}

.sheets-link {
  font-size: 35px;
  color: #c8c8c8;
  text-decoration: none;
  display: block; /* Ensures each link starts on a new line */
  margin-bottom: 20px; /* Provides space between the links */
  transition: color 0.3s ease; /* Smooth transition for color change */
}



