body {
  font-family: Futura, sans-serif;
  background: #131313;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Distributes space above and below content */
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.back-button-container {
  position: fixed; /* Fixing the position so it's always at the top */
  top: 8vh;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Ensure it's above other content */
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #c8c8c8;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #333;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Transition for transform and color */
}

.back-button:hover, .back-button:active {
  background: #ffffff; /* Change background color on hover/active */
  color: #131313; /* Change text/icon color so it's visible on white background */
  transform: scale(1.1); /* Make the button slightly larger on hover */
}

.content-container {
  flex: 1; /* Allows the container to grow and fill space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  text-align: center;
  width: 100%;
  padding: 0 20px; /* Padding on sides */
}

.sheets-link {
  font-size: 35px;
  color: #c8c8c8;
  text-decoration: none;
  margin-bottom: 20px; /* Space between links */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.sheets-link:hover, .sheets-link:focus {
  color: #ffffff; /* Changes text color to white on hover or focus */
}

@media (max-width: 768px) {
  .back-button-container {
    top: 5vh; /* Less space from the top on mobile */
  }

  .content-container {
    padding-top: 10vh; /* Enough space so the content doesn't overlap the back button */
    padding-bottom: 10vh; /* Add padding at the bottom for spacing */
    justify-content: flex-start; /* Align content to start after the back button */
  }

  .sheets-link {
    font-size: 35px; /* Smaller font size for more space */
    margin-bottom: 3vh; /* Less space between links to avoid squishing */
  }
}

@media (max-height: 568px) { /* Adjust styles for screens with a shorter height */
  .back-button-container {
    top: 5px; /* Even less space from the top */
  }

  .content-container {
    padding-top: 50px; /* Adjust to prevent overlap with the back button */
    margin-top: 0; /* Remove extra margin at the top */
  }

  .sheets-link {
    font-size: 28px; /* Smaller font size to ensure the text fits well */
    margin-bottom: 5vh; /* Reduce space between links further */
  }
}
