body {
  font-family: Futura, sans-serif;
  background: #131313;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: Futura;
  font-weight: 500;
  font-style: normal;
}

.button {
  background: rgb(28, 28, 28);
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #c8c8c8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, color 0.3s ease; /* Combine transition properties */
  display: inline-block; /* Necessary for transform to work on inline elements like <a> */
  width: 40%;
  max-width: 300px; /* Adjust the maximum width as needed */
}

.button:hover {
  transform: scale(1.1); /* Enlarges the button to 110% of its size */
  color: #ffffff; /* Changes text color to white on hover and active */
}

.button:active {
  transform: scale(0.95); /* Slightly reduces the size when clicked */
  color: #ffffff;
}

.page-exit-active {
  animation: pageExit 0.5s ease forwards;
}

@keyframes pageExit {
  0% { transform: translateY(0); }
  100% { transform: translateY(100vh); } /* Move the page down */
}

.home-page-exit-active {
  animation: slideUpExit 0.5s ease forwards;
}

@keyframes slideUpExit {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100vh); } /* Slide the page up out of view */
}

.back-button-exit-active {
  animation: slideUpExit 0.5s ease forwards;
}
