body {
  font-family: Futura, sans-serif;
  background: #131313;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Fixed height to prevent scrolling */
  overflow: hidden; /* Hide overflow */
}

.back-button-container {
  position: absolute;
  top: 100px;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #c8c8c8;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #333;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out; /* Transition for transform, background-color, and color */
}

.back-button:hover, .back-button:focus {
  background: #ffffff; /* Change background color on hover/focus */
  color: #131313; /* Change text/icon color on hover/focus for visibility */
  transform: scale(1.1); /* Make the button slightly larger on hover */
}

.content-container {
  width: 100%;
  margin-top: 30%; /* Adjust to position content properly */
  text-align: center;
  padding-top: 10vh;
}

.firebird-link {
  font-size: 35px;
  color: #c8c8c8;
  text-decoration: none;
  display: block;
  margin: 8px 0;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.heading {
  font-size: 35px;
  color: #c8c8c8;
  text-decoration: none;
  display: block;
  margin: 8px 0;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.firebird-link:hover, .firebird-link:focus {
  color: #ffffff; /* Changes text color to white on hover or focus */
}

@keyframes pageExit {
  0% { transform: translateY(0); }
  100% { transform: translateY(100vh); } /* Move the page down */
}

.back-button-exit-active {
    animation: pageExit 0.5s ease forwards;
}
